<div class="card flex justify-content-center">
  <p-toast position="top-right" key="test-toggle-toast">
    <ng-template let-message pTemplate="message">
      <div class="flex flex-column align-items-start" style="flex: 1">
        <div class="font-medium text-lg my-3 text-900">
          {{ message.summary }}
        </div>
        <p-button size="small" label="ToggleSticky" (click)="onToggleSticky()" />
      </div>
    </ng-template>
  </p-toast>
  <p-button pRipple (click)="show()" label="View" />
</div>
